In [25]:
import pdfplumber
import pandas as pd
import re

In [17]:
file_path = "Inv_650765_from_Acme_Dry_Ice_Co.Acme_Ice_Co._4044.pdf"
with pdfplumber.open(file_path) as pdf:
    # table = pdf.pages[0]
    table = pdf.pages[0].extract_tables()
    # table_n = pdf.pages[0].find_tables()
    text = pdf.pages[0].extract_text(layout=False)

In [24]:
line_table = table[4]
data_frame = pd.DataFrame(line_table)
data_frame.columns = data_frame.iloc[0]
data_frame = data_frame.drop(0)
del data_frame[None]
data_frame.dropna(inplace=True)
data_frame = data_frame.drop(data_frame.index[-1])
data_frame = data_frame.rename_axis('LINE')
data_frame

0    Qty               Description   Rate  Amount
LINE
1     12  Boxes of Dry Ice Pellets  50.00  600.00
2      1          Shipping Charges  25.00   25.00

In [27]:
required_columns = ['Description', 'Qty', 'Rate', 'Amount']
required_columns = list(map(lambda text: re.sub(r'\s+', ' ', text.strip()), required_columns))
selected_df = data_frame[required_columns].copy()
selected_df

0                  Description Qty   Rate  Amount
LINE
1     Boxes of Dry Ice Pellets  12  50.00  600.00
2             Shipping Charges   1  25.00   25.00

In [28]:
json_output = selected_df.to_json(orient = 'columns')
json_output

'{"Description":{"1":"Boxes of Dry Ice Pellets","2":"Shipping Charges"},"Qty":{"1":"12","2":"1"},"Rate":{"1":"50.00","2":"25.00"},"Amount":{"1":"600.00","2":"25.00"}}'

In [50]:
other_table = table[0]
vendor_name = "Acme Dry Ice Co./Acme Ice Co."
final_dic_other = {}
final_dic_other['Vendor Name'] = vendor_name
final_dic_other['Date'] = other_table[1][0]
final_dic_other['Invoice No'] = other_table[1][1]
final_dic_other['Ship to'] = table[2][1][0].replace('\n',' ')

In [51]:
final_dic_other

{'Vendor Name': 'Acme Dry Ice Co./Acme Ice Co.',
 'Date': '2/6/2023',
 'Invoice No': '650765',
 'Ship to': 'FLUENT BIO 150 COOLIDGE AVE WATERTOWN, MA'}

In [47]:
v = table[2][1][0]
v.replace('\n',' ')

'FLUENT BIO 150 COOLIDGE AVE WATERTOWN, MA'